.container {
    display: flex;
    flex-direction: column;
}

a{
    color: red;
    text-decoration: nome;

}

a:visited{
    color: blue;
}

a:hover{
    background-color: black;
    color: white;
}

a:active{
    background-color: green
    
}